<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행시킬 query를 가지고 있는 파일 -->
<mapper namespace="com.trip.attraction.mapper.AttractionMapper">

	<!-- 페이징 처리된 관광지 리스트 조회 -->
	<select id="getAttractions" resultType="com.trip.attraction.dto.AttractionDto">
		SELECT
			no,
			content_id AS contentId,
			title,
			latitude,
			longitude,
			first_image1 AS firstImage1,
			hit,
			views
		FROM attractions
			LIMIT #{offset}, #{size}
	</select>

	<!-- 조건에 맞는 관광지 리스트 조회 -->
	<select id="searchAttractions" resultType="com.trip.attraction.dto.AttractionDto">
		SELECT
			no,
			content_id AS contentId,
			title,
			latitude,
			longitude,
			first_image1 AS firstImage1,
			hit,
			views
		FROM attractions
		WHERE (#{sidoCode} IS NULL OR area_code = #{sidoCode})
		  AND (#{gugunCode} IS NULL OR si_gun_gu_code = #{gugunCode})
		  AND (#{type} IS NULL OR content_type_id = #{type})
		  AND (#{word} IS NULL OR title LIKE CONCAT('%', #{word}, '%'))
		ORDER BY
			CASE
			WHEN #{sortBy} = 'name' THEN title
			WHEN #{sortBy} = 'likes' THEN hit
			WHEN #{sortBy} = 'views' THEN views
			ELSE no
		END DESC
        LIMIT #{offset}, #{limit}
	</select>

	<!-- 조건에 맞는 관광지의 총 갯수 조회 -->
	<select id="countFilteredAttractions" resultType="int">
		SELECT COUNT(*)
		FROM attractions
		WHERE (#{sidoCode} IS NULL OR area_code = #{sidoCode})
		  AND (#{gugunCode} IS NULL OR si_gun_gu_code = #{gugunCode})
		  AND (#{type} IS NULL OR content_type_id = #{type})
		  AND (#{word} IS NULL OR title LIKE CONCAT('%', #{word}, '%'))
	</select>

	<!-- 관광지 상세 정보 조회 -->
	<select id="getAttractionDetail" resultType="com.trip.attraction.dto.AttractionDetailDto">
		SELECT
			no,
			content_id AS contentId,
			title,
			content_type_id AS contentTypeId,
			area_code AS areaCode,
			si_gun_gu_code AS siGunGuCode,
			latitude,
			longitude,
			first_image1 AS firstImage1,
			first_image2 AS firstImage2,
			map_level AS mapLevel,
			tel,
			addr1,
			addr2,
			overview,
			hit,
			views
		FROM attractions
		WHERE no = #{attractionId}
	</select>

	<select id="countTotalAttractions" resultType="int">
		SELECT COUNT(*)
		FROM attractions
	</select>

	<update id="updateAttractionViews">
		UPDATE attractions
		SET views = views + 1
		WHERE no = #{attractionId}
	</update>

	<update id="updateHit">
		UPDATE attractions
		SET hit = hit + #{amount}
		WHERE no = #{attractionId}
	</update>
</mapper>





