<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trip.board.mapper.BoardMapper">

	<resultMap id="BoardResultMap" type="Board">
		<id property="articleNo" column="article_no" />
		<result property="userId" column="user_id" />
		<result property="subject" column="subject" />
		<result property="content" column="content" />
	</resultMap>


	<select id="readBoards" resultMap="BoardResultMap">
		select * from boards
	</select>

	<select id="readBoard" parameterType="int" resultMap="BoardResultMap">
		select * from boards where article_no = #{articleNo}
	</select>

	<insert id="createBoard" parameterType="Board">
		insert into boards
		(user_id, subject, content)
		values (#{userId}, #{subject}, #{content})
	</insert>

	<update id="updateBoard" parameterType="Board">
		update boards
		set
		subject=#{subject}, content=#{content}
		where article_no = #{articleNo}
	</update>

	<delete id="deleteBoard" parameterType="Board">
		delete from boards
		where article_no = #{articleNo}
	</delete>

</mapper>
  