<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trip.comment.mapper.CommentMapper">
    <select id="findCommentsByAttractionId" resultType="CommentDto">
        SELECT
            c.comment_id AS id,
            m.email AS email,
            c.created_at AS createdAt,
            c.content AS content
        FROM
            comments c
                JOIN
            members m ON c.author_id = m.user_id
        WHERE
            c.attraction_id = #{attractionId}
        ORDER BY
            c.created_at DESC
    </select>

    <select id="findCommentsByUserId" resultType="CommentResponseDto">
        SELECT
            c.comment_id AS id,
            c.attraction_id AS attractionId,
            a.title AS attractionName,
            a.first_image1 AS image,
            c.content AS content,
            c.created_at AS createdAt
        FROM
            comments c
                JOIN attractions a ON c.attraction_id = a.no
        WHERE
            c.author_id = #{userId}
        ORDER BY
            c.created_at DESC
    </select>
</mapper>
