<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trip.attraction.mapper.ContentTypeMapper">
    <select id="selectAllContentTypes" resultType="ContentTypeDto">
        SELECT
            content_type_id AS contentTypeId,
            content_type_name AS contentTypeName
        FROM contenttypes
    </select>
</mapper>
