<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행시킬 query를 가지고 있는 파일 -->

<mapper namespace="com.trip.member.mapper.MemberMapper">

	<resultMap type="LoginResponseDTO" id="loginResponseMap">
		<id property="userId" column="user_id"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="role" column="role"/>
		<result property="profileImage" column="profile_image"/>
	</resultMap>


	<insert id="save" parameterType="RegisterRequestDTO">
		INSERT INTO members (name, email, password, birth_date, address, gender, role) values( #{name}, #{email}, #{password}, #{birthDate}, #{address}, #{gender}, #{role})
	</insert>


	<select id="findByEmailAndPassword" parameterType="LoginRequestDTO" resultMap="loginResponseMap">
		SELECT user_id, name, email, role, profile_image
		FROM members
		WHERE email = #{email} AND password = #{passWord}
	</select>


	<select id="findByEmail" parameterType="string" resultType="string">
		select * from members where email = #{email}
	</select>


	<delete id="delete" parameterType="string">
		delete from members where user_id = #{userId}
	</delete>

</mapper>


	





